.body{
    width: 100%;
    height: 100%;
    background-color: #93d7ffb7;
    display: flex;
    align-items: center;
    justify-content: center;
}
path{
    fill: rgb(255, 255, 255);
}
/* .Neneckij-avtonomnyj-okrug.toggled>path{
    fill: blue;
} */
.Krasnoyarskij-kraj.toggled>path{
    fill: rgb(65, 65, 255)
}
.Respubltika-Saha-Yakutiya.toggled>path{
    fill: rgb(65, 65, 255)
}
.Kemerovskaya-oblast.toggled>path{
    fill: rgb(65, 65, 255)
}
#t1{
    position: absolute;
    left: calc(50% - 30.29px/2 - 200px);
    top: calc(50% - 56.39px/2 - 100px);
}
#t2{
    position: absolute;
    left: calc(50% - 30.29px/2 - 325px);
    top: calc(50% - 56.39px/2 + 15px);
}
#t3{
    position: absolute;
    left: calc(50% + 40px);
    top: calc(50% + 120px);
}
#t4{
    position: absolute;
    left: calc(50% - 45px);
    top: calc(50% + 100px);
}
#t5{
    position: absolute;
    left: calc(50% - 20px);
    top: calc(50% + 135px);
}
#t6{
    position: absolute;
    left: calc(50% - 170px);
    top: calc(50% + 40px);
}
#t7{
    position: absolute;
    left: calc(50% - 220px);
    top: calc(50% + 90px);
}
#t8{
    position: absolute;
    left: calc(50% - 225px);
    top: calc(50% + 70px);
}
#t9{
    position: absolute;
    left: calc(50% - 30.29px/2 - 220px);
    top: calc(50% - 56.39px/2 - 80px);
}
.e{
    z-index: 100;
    cursor: pointer;
    max-width: 20px;
    background-color: rgb(0, 0, 0);
}
.d{
    fill: yellow;
    border: 1px solid black;
}
#e1{
    position: absolute;
    border-radius: 50%;
    max-height: 20px;
    left: calc(50% - 30.29px  - 310px);
    top: calc(50% - 56.39px/2 + 20px);
}
#e2{
    position: absolute;
    border-radius: 50%;
    max-height: 20px;
    left: calc(50% - 30.29px  - 290px);
    top: calc(50% - 56.39px/2 - 15px);
}
#e3{
    position: absolute;
    border-radius: 50%;
    max-height: 20px;
    left: calc(50% - 30.29px  - 257px);
    top: calc(50% - 56.39px/2 - 60px);
}
#e4{
    position: absolute;
    border-radius: 50%;
    max-height: 17px;
    max-width: 17px;
    left: calc(50% - 30.29px  - 305px);
    top: calc(50% - 56.39px/2 + 105px);
}
#e5{
    position: absolute;
    border-radius: 50%;
    max-height: 20px;
    max-width: 20px;
    left: calc(50% - 30.29px  - 245px);
    top: calc(50% - 56.39px/2 + 75px); 
}
#e6{
    position: absolute;
    border-radius: 50%;
    max-height: 17px;
    max-width: 17px;
    left: calc(50% - 30.29px  - 280px);
    top: calc(50% - 56.39px/2 + 55px); 
}
#e7{
    position: absolute;
    border-radius: 50%;
    max-height: 17px;
    max-width: 17px;
    left: calc(50% - 30.29px  - 245px);
    top: calc(50% - 56.39px/2 - 35px); 
}
#e8{
    position: absolute;
    border-radius: 50%;
    max-height: 14px;
    max-width: 14px;
    left: calc(50% - 30.29px  - 145px);
    top: calc(50% - 56.39px/2 + 100px); 
}
#e9{
    position: absolute;
    border-radius: 50%;
    max-height: 17px;
    max-width: 17px;
    left: calc(50% - 30.29px  - 190px);
    top: calc(50% - 56.39px/2 - 92px); 
}
#e10{
    position: absolute;
    border-radius: 50%;
    max-height: 14px;
    max-width: 14px;
    left: calc(50% - 30.29px  + 289px);
    top: calc(50% - 56.39px/2 - 100px); 
}
.v{
    background-color: rgb(65, 65, 253);
    z-index: 100;
    cursor: pointer;
    max-width: 20px;
    border-radius: 50%;
}
.v:hover{
    transform: scale(1.5);
}
#v1{
    position: absolute;
    max-width: 17px;
    max-height: 17px;
    left: calc(50% - 30.29px  + 94px);
    top: calc(50% - 56.39px/2 + 147px);
}
#v2{
    position: absolute;
    max-width: 17px;
    max-height: 17px;
    left: calc(50% - 30.29px  + 100px);
    top: calc(50% - 56.39px/2 + 128px);
}
#v3{
    position: absolute;
    max-width: 17px;
    max-height: 17px;
    left: calc(50% - 30.29px  + 80px);
    top: calc(50% - 56.39px/2 + 130px);
}
#v4{
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    left: calc(50% - 30.29px  + 15px);
    top: calc(50% - 56.39px/2 + 180px); 
}
#v5{
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    left: calc(50% - 30.29px  + 20px);
    top: calc(50% - 56.39px/2 + 157px); 
}
.g{
    background-color: rgb(37, 185, 32);
    z-index: 100;
    cursor: pointer;
    max-width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
.g:hover{
    transform: scale(1.5);
}
#g1{
    position: absolute;
    max-width: 14px;
    max-height: 14px;
    left: calc(50% - 30.29px  + 395px);
    top: calc(50% - 56.39px/2 + 30px); 
}
#g2{
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(50% - 30.29px  + 392px);
    top: calc(50% - 56.39px/2 + 14px); 
}

.tr{
    background-color: rgb(194, 19, 19);
    z-index: 1;
    cursor: pointer;
    max-width: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
.tr:hover{
    transform: scale(1.5);
}
#tr1{
    position: absolute;
    width: 20px;
    height: 20px;
    left: calc(50% - 30.29px  - 57px);
    top: calc(50% - 56.39px/2 + 64px); 
}
#tr2{
    position: absolute;
    width: 17px;
    height: 17px;
    left: calc(50% - 30.29px  - 157px);
    top: calc(50% - 56.39px/2 + 84px); 
}
#tr3{
    position: absolute;
    width: 17px;
    height: 17px;
    left: calc(50% - 30.29px  - 220px);
    top: calc(50% - 56.39px/2 + 7px); 
}
#tr4{
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(50% - 30.29px  - 160px);
    top: calc(50% - 56.39px/2 + 37px); 
}
#tr5{
    position: absolute;
    width: 14px;
    height: 14px;
    left: calc(50% - 30.29px  - 250px);
    top: calc(50% - 56.39px/2 + 17px); 
}


.w{
    fill: rgb(8, 172, 212);
}

.usl{
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.usl:hover{
    transform: scale(1.5);
}
#usl1{
    left: calc(50% - 30.29px  - 194px);
    top: calc(50% - 56.39px/2 + 120px);
}
#usl2{
    left: calc(50% - 30.29px  - 180px);
    top: calc(50% - 56.39px/2 + 94px);
}
#usl3{
    left: calc(50% - 30.29px  + 10px);
    top: calc(50% - 56.39px/2 + 0px);
}
#usl4{
    left: calc(50% - 30.29px  + 300px);
    top: calc(50% - 56.39px/2 - 90px);
}
#usl5{
    left: calc(50% - 30.29px  + 300px);
    top: calc(50% - 56.39px/2 - 30px);
}
#usl6{
    left: calc(50% - 30.29px  + 240px);
    top: calc(50% - 56.39px/2 + 20px);
}
#usl7{
    left: calc(50% - 30.29px  + 190px);
    top: calc(50% - 56.39px/2 + 90px);
}
#usl8{
    left: calc(50% - 30.29px  + 223px);
    top: calc(50% - 56.39px/2 + 135px);
}
#usl9{
    left: calc(50% - 30.29px  + 144px);
    top: calc(50% - 56.39px/2 + 110px);
}
#usl10{
    left: calc(50% - 30.29px  + 300px);
    top: calc(50% - 56.39px/2 + 150px);
}
#usl11{
    left: calc(50% - 30.29px  + 317px);
    top: calc(50% - 56.39px/2 + 213px);
}
#usl12{
    left: calc(50% - 30.29px  + 170px);
    top: calc(50% - 56.39px/2 - 30px);
}
#usl13{
    left: calc(50% - 30.29px  - 180px);
    top: calc(50% - 56.39px/2 - 100px);
}
#usl14{
    left: calc(50% - 30.29px  + 10px);
    top: calc(50% - 56.39px/2 - 20px);
}
#usl15{
    left: calc(50% - 30.29px  - 175px);
    top: calc(50% - 56.39px/2 + 74px);
}
#usl16{
    left: calc(50% - 30.29px  - 170px);
    top: calc(50% - 56.39px/2 - 80px);
}
#usl17{
    left: calc(50% - 30.29px  - 155px);
    top: calc(50% - 56.39px/2 + 70px);
}
#usl18{
    left: calc(50% - 30.29px  - 244px);
    top: calc(50% - 56.39px/2 - 50px);
}
















.container{
    width: 100%;
    opacity: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    
}
.container.active{
    opacity: 30%;
    background-color: black;
}

.info.active{
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    padding: 6px;
    z-index: 100;
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 400px;
    border-radius: 20px;
}
.info_text{
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    font-size: 20px;
    font-weight: 300;
    height: 100%;
}
.info{
    display: none;
}
.close{
    padding: 3px;
    background-color: transparent;
    border-radius: 50%;
    max-width: 20px;
    max-height: 20px;
    cursor: pointer;
}
h1{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 26px;
    width: 90%;
    text-align: center;
}
.header{
    display: flex;
    gap: 20px;

}
.map{
    padding: 20px;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.map:hover{
    background-color: rgb(146, 146, 146);
    color: rgb(255, 255, 255);  
    border: 1px solid rgb(146, 146, 146); 
}
.Triangle:hover{
    transform: scale(1.5);
}
.Triangle{
    cursor: pointer;
    z-index: 100;
    max-width: 20px;
    color: rgb(0, 89, 255)
}

.e:hover{
    transform: scale(1.5);
}

.rect:hover{
    transform: scale(1.5);
}
.rect{
    z-index: 100;
    cursor: pointer;
    width: 8px;
    height: 8px;
}

.map1.toggled{
    display: flex;
}
.map2.toggled{
    display: flex;
}
.map3.toggled{
    display: flex;
}
.map4.toggled{
    display: flex;
}
.map5.toggled{
    display: flex;
}
.map6.toggled{
    display: flex;
}


.map1{
    display: none;
}
.map2{
    display: none;
}
.map3{
    display: none;
}
.map4{
    display: none;
}
.map5{
    display: none;
}
.map6{
    display: none;
}
/* asdsdad */

.masd{
    scrollbar-width: 100;
}